body {
  margin: 0;
  padding: 0;
  background-image: url("../image/background.jpg");
  background-size: cover;                     
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position:center center;
}



.box {
    margin: 30px 0px 40px 40px;
    width: 900px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    background-color: rgba(206, 205, 201, 0.8);
    border-radius: 25px;
    padding: 15px;
  }

.button {
  margin-left: 40px;
  float: left;
  margin-top: 20px;
}

#coneil li{
  margin-bottom: 5px;
}

  .threeD {
    color: darkgrey;
    white-space: nowrap;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px black;
  }
  
  .threeD:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
      1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
      1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  }
  