

body {
    text-align: center;
    background-image: url("../image/background.jpg");
    background-size: cover;
    /* <------ */
    background-position: center center;
    font-size: 18px;
  }

  #credit {
      animation-name: defile;
      animation-duration: 3s;
      animation-fill-mode: forwards;
  }

  @keyframes defile {
      from {
        margin-top: 80%;
      }

      to {
        margin-top: 10%;
        font-size: 300%;
      }

      50% {
          font-size: 100%;
      }
  }

  table {
      margin-left: 42%;
      margin-bottom: 10px;
      background-color: rgba(216, 216, 216, 0.521);
      border-radius: 4px;
      box-shadow: 1px 1px 10px black;
  }