body {
  margin: 0;
  padding: 0;
  background-image: url("../image/background.jpg");
  background-size:    auto;
  background-repeat:   no-repeat;
  background-position: center center;
}

.box {
  position: absolute;
  top: 28%;
  left: 20%;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: rgba(206, 205, 201, 0.8);
  box-shadow: 7px 7px 40px black;
  border-radius: 25px;
  padding: 15px;
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 450px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}




.box select option {
  padding: 30px;
}


.threeD {
  color: darkgrey;
  white-space: nowrap;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.threeD:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.bouton {
	margin-top: 20px;
}

select { width: 400px; text-align-last:center; }

input[type="text"], textarea {

  background-color : #0563af;

}

input[type=text], select {
  padding: 12px;
  width: 450px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: white;
}
 