#titre {
  text-align: center;
  width: auto;
  height: auto;
  color: white;
  background-color: #656565;
  font-size: 25px;
  font-weight: bold;
  padding: 6px 4px 4px 4px;
}

#titreprincipal {
  font-size: 40px;
}

body {
  text-align: center;
  background-image: url("../image/background.jpg");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  font-weight: bold;
}

#haie {
  box-shadow: 1px 1px 10px black;
  border-radius: 4px;
}

#haie:hover {
  box-shadow: 5px 5px 20px;
}

#marathon {
  box-shadow: 1px 1px 10px black;
  border-radius: 4px;
  padding: 0px 25px;
}


#marathon:hover {
  box-shadow: 5px 5px 20px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

footer {
  text-align: center;
  /* border: solid 2px #202020; */
  padding: 1% 0% 1% 0%;
  margin: 7% 10% 0% 10%;
  font-size: 200%;
  background-color: #2c2c2c;
}
